<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <style>
    .bookimg{
      height: 580px;
      width: 100%;
      /* filter: blur(1px) */
    }

    @media (max-width: 768px) {
      #main{
        height: 100%;
  width: 100%;
      }
    /* Adjust height for smaller screens */
    .bookimg{
      height: 300px;
      /* filter: blur(1px) */
    }
  }
  </style>

  <body>
    <div id="main">
      <nav class="navbar navbar-expand-lg bg-body-tertiary py-2 px-3" id="nav">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Realise Dreams in <br> 3 Days Onwards</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class=" collapse navbar-collapse nav  navnew" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item">
                <a class="nav-link mx-2 " aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2 " aria-current="page" href="#">BOOKS BY <br> DINESH SAHAY </a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="#">ARTICLES BY <br> Dinesh Sahay</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="#">REVIEWS </a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="#">VIDEOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="#">FIND US</a>
              </li>  
              
            </ul>
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item">
                <a class="nav-link mx-2" href="#">WRITE YOUR <br> WISH-DREAM-PROBLEM</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="#">REGISTER TO <br>  BECOME A MEMBER</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="#">JOIN WISH <br>  FULFILMENT PROGRAM</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="#">TERMS & CONDITIONS, <br>FULFILMENT PROGRAM</a>
              </li>
              
            </ul>
          </div>
        </div>
        </nav>
      <div id="video">
        <video autoplay muted>
          <source src="/images/WhatsApp Video 2024-02-18 at 16.41.01_8d5f93f7.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="container disnone" id="nav">
        <!-- First Modal -->
        <div
          class="modal fade"
          id="exampleModalToggle"
          aria-hidden="true"
          aria-labelledby="exampleModalToggleLabel"
          tabindex="-1"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                <h1
                  class="modal-title fs-5"
                  id="exampleModalToggleLabel"
                  style="font-family: 'gilroy'; font-weight: 900"
                >
                  Do you have a wish, dream or a goal or problem in your life?
                  Please click answer
                </h1>
                <div class="text-center mt-3">
                  <button
                    class="btn btn-primary mr-2 px-4 py-2"
                    data-bs-dismiss="modal"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModalToggle2"
                  >
                    Yes
                  </button>
                  <button
                    class="btn btn-danger px-4 py-2"
                    data-bs-dismiss="modal"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModalToggle2"
                  >
                    No
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Second Modal -->
        <div
          class="modal fade"
          id="exampleModalToggle2"
          aria-hidden="true"
          aria-labelledby="exampleModalToggleLabel2"
          tabindex="-1"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">
                  Please fill this format for registration as a member and to
                  receive response from the Author Mentor Dinesh Sahay
                </h1>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      name="name"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                      >Sex</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputPassword1"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                      >Age</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="exampleInputPassword1"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                      >City</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputPassword1"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                      >State</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputPassword1"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                      >Country</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputPassword1"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                      >Email Address</label
                    >
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputPassword1"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                      >Mobile No./Whatspp(Optional)</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputPassword1"
                    />
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <img src="/images/1.png" class="img-fluid bookimg disnone" alt="..." id="nav">

<!-- About 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 mt-5 disnone" id="nav">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <img class="img-fluid rounded" loading="lazy" src="/images/Picture1.jpg" alt="About 1">
        <h5 class="mt-4 fw-bold">A Practical Program, "ENLIGHTEN THE LAMP OF YOUR FORTUNE"</h5>
        <h5 class="mt-2 fw-bold">by Mentor & Award-Winning Author, DINESH SAHAY, Program evolved by his research & experience of 25 years</h5>
      </div>
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
            <h2 class="mb-3">MANIFEST DREAMS/WISHES & SOLVE PROBLEMS Starting from 3rd DAY ONWARDS with a Pre-Set Date.</h2>
            <p class="mb-2">Anything visible in this Universe or World except 'Self' is Matter, and all actions and reflections are Material in Nature, but when one is connected within, the world comes to your knees automatically and brings prosperity. The Inaction and silence within us bring an action in life which is simple and... that’s it.</p>
            <p class="mb-2">Ancient Sage, Yogi Vashishtha said in our Hindu ancient scripture; "Fate or Destiny (Bhagya) is the invention of fools and does not exist. Whoever believes in it and is obsessed with divine fate, is the enemy of his soul. He perishes, destroying his good worth and prosperity".</p>
            <p class="mb-2"> You are the creator of your destiny which is stored for you by God. He releases all manifestation in your life on demand by your thoughts and actions..................... It’s as simple as... That's it.</p>
            <p class="mb-2"> Your destiny is locked between your past and present thoughts. It’s a fight between past thoughts and present ones. The thoughts that strive hard, win. Thoughts are manifested in one’s life accordingly, successfully or unsuccessfully.</p>
            <p class="mb-2">Search for Peace, Health, Happiness and Prosperity
              Anything is possible at any point in time by the Power of God within the self through thoughts, the five senses, spoken words, feelings and Karmas (actions). You can manifest whatever you wish in life; you are the creator through God within and by His grace. 
              </p>
              <h4 class="mb-3">You can....</h4>
            <div class="row gy-4 gy-md-0 gx-xxl-5X mt-1">
              <div class="col-12 col-md-6">
                  <div>
                    <p class="text-secondary mb-0">• Improve the quality of your life,</p>
                    <p class="text-secondary mb-0">• Change your behaviour,,</p>
                    <p class="text-secondary mb-0">• Change your personality</p>
                    <p class="text-secondary mb-0">•	Reduce your weight</p>
                    <p class="text-secondary mb-0">•	Become rich and abundant,</p>
                    <p class="text-secondary mb-0">•	Find a divine life partner,</p>

                  </div>
              </div>
              <div class="col-12 col-md-6">
                  <div>
                    <p class="text-secondary mb-0">•	Make solutions to problems,</p>
                    <p class="text-secondary mb-0">•	Improve health,</p>
                    <p class="text-secondary mb-0">•	Overcome diseases,</p>
                    <p class="text-secondary mb-0">•	Search for peace and enlightenment,</p>
                    <p class="text-secondary mb-0">•	Worldly pleasures,</p>
                    <p class="text-secondary mb-0">•	Improve your professional life.</p>
                  </div>
              </div>
            </div>
            <h4 class="mt-3">Any wish can be fulfilled as per your wish/dream subject to mindset, riders, terms & conditions and conditions.</h4>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About 2 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8" id="nav">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
            <h2 class="h1 mb-3">Manifest Dreams/Wishes & Solve Problems with Pre-Set date & starting from 3rd Day Onwards</h2>
            <div class="row gy-4 gy-md-0 gx-xxl-5X">
              <div class="col-12 col-md-6 mt-3`">
                <div class="d-flex">
                  <div>
                    <p class="text-dark mb-3">1. Do you have any Wish or a Dream or want to solve any problem in your life?</p>
                    <p class="text-dark mb-3">2. Do you find difficulties in choosing a suitable life partner?</p>
                    <p class="text-dark mb-3">3. Do you have problems in your marital life?</p>
                    <p class="text-dark mb-3">4. Are you facing a problem in getting a suitable job?</p>
                    <p class="text-dark mb-3">5. Do you want to change to a better job profile with a handsome package?</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 mt-3">
                <div class="d-flex">
                  <div>
                    <p class="text-dark mb-3">6. Do you want to find a better future and life?</p>
                    <p class="text-dark mb-3">7. Do you have problems related to a job or business?</p>
                    <p class="text-dark mb-3">8. Do you wish to enhance or expand your business?</p>
                    <p class="text-dark mb-3">9. Are you getting losses in your organisation?</p>
                    <p class="text-dark mb-3">10. Do you have any wishes or dreams in your life?</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-5">
        <img class="img-fluid rounded" loading="lazy" src="/images/photo-1543002588-bfa74002ed7e.avif" alt="">
      </div>
      
    </div>
  </div>
</section>

<!-- FAQ 1 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5" id="nav">
  <div class="container">
    <div class="row gy-5 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6">
        <img class="img-fluid rounded" loading="lazy" src="/images/dreams.avif" alt="How can we help you?">
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-end">
          <div class="col-12 col-xl-11">
            <p class="lead fs-6 text-dark mb-5">The program of Wish Fulfilment, <span class="fw-bold">“Enlighten the Lamp of your Fortune”</span> and <span class="fw-bold">"Make Your Dreams Come True"</span> had been evolved by <span class="fw-bold">Dinesh Sahay</span>, an award-winning, author & mentor 25 years back with a lot of research, experiments in his life, and in the lives of many people which produced astonishing results. He guided a great number of people, members and followers who had realised their dreams. He began guiding people through a website in the past, and he is continuing it. He has written 17 books to date and three audiobooks, some books are about his program, others on experiences of members who have done this program previously and for self-help.</p>
            <div class="accordion accordion-flush" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Who can join & perform this Program?
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Anyone can join this program under the guidance of Mentor & Author, Dinesh Sahay subject to riders, terms & conditions set to get the best results. </p>
                    <ul>
                      <li class="fw-bold">This program can only be performed by people of age 18 and above. He has to be an adult, a non-violent person. .</li>
                      <li class="fw-bold">He/she has to follow the program's pre-set rules and guided steps, and terms & conditions before proceeding with this program to get the best results. They are mentioned in the terms and conditions. </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How does the program,"Enlighten the Lamp of your Fortune"undertaken by a member?
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>It is a practical program which is so simple that you have to spare just a few minutes of your time from your busy schedule in the day in the four Time Zones and begin this program, "Enlighten the lamp of your Fortune"* while you are travelling in a car, train or a plane or during the office or at your home.</p>
                    <p>You can observe the results rapidly on pre-set date from the 3rd day onwards towards your Wish/Dream/Goal/ or Solutions to your problems. You may get astonishing results even before a chosen date that you pre-set in your mind before the beginning of this program. </p>
                    <p>This exercise is done in several steps before the actual program begins which you can understand while you register for membership and the program, "Enlighten the lamp of your Fortune"</p>
                    <!-- <ul>
                      <li class="fw-bold">This program can only be performed by people of age 18 and above. He has to be an adult, a non-violent person. .</li>
                      <li class="fw-bold">He/she has to follow the program's pre-set rules and guided steps, and terms & conditions before proceeding with this program to get the best results. They are mentioned in the terms and conditions. </li>
                    </ul> -->
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Know more about the Program?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>The program is simple to get what you wish in life, as God is forever ready to fulfil all your demands if you act as per His (God) commands. God wants you to follow the set rules as per the Universal laws of Nature that include so many wise qualities & actions during this program.</p>
                    <p>Once you start this program of wish fulfilment, you will observe a change in your life starting from the 3rd day onward. Almost all my previous and current members have also felt such experiences that I have written about in my books, Miracles Through My Eyes, and The Story of Unbelievable Miracles of Life and Jeevan ke Kuch Adbhut Pal.</p>
                    <!-- <ul>
                      <li>Go to our website and sign in to your account.</li>
                      <li>Click on your profile picture in the top right corner of the page and select "Account Settings."</li>
                      <li>Scroll to the bottom of the page and click on "Cancel Account."</li>
                      <li>Enter your password and click on "Cancel Account."</li>
                    </ul> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


        
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"
      integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var hasModalBeenShown = localStorage.getItem("hasModalBeenShown");
        if (!hasModalBeenShown) {
          var myModal = new bootstrap.Modal(
            document.getElementById("exampleModalToggle"),
            {}
          );
          myModal.show();
          localStorage.setItem("hasModalBeenShown", true);
        }
      });
    </script>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
